<%= breadcrumb [ {"Channels" => nil}] %>
<% content_for(:title) { "Channels"} %>

<div class="header-wrapper  clearfix">
  <div class="pull-left"><h3>List of channels</h3></div>
  <div class="pull-right" style='margin-top: 10px;'>
    <%= link_to new_channel_path(), class: 'btn btn-primary' do %>
     <i class="glyphicon glyphicon-plus"> </i> New Channel
    <% end %>
  </div>
</div>

<div class='clearfix'>
  <table class='table table-responsive' valign='center'>
    <thead>
      <tr>
        <td>Channel</td>
        <td>Status</td>
        <td></td>
      </tr>
    </thead>

    <tbody>
      <% @my_channels.each do |channel| %>
        <%= render 'channel', channel: channel %>
      <% end %>
    </tbody>
  </table>
</div>
<%= paginate_for(@my_channels) %>
