<div class='tree-wrapper' >
  <ul id="myTree" data-toggle="nav-tree" >
    <%= tree_for(Place.arrange, @place_id) %>
   </ul>
</div>

<div class='tree-action clearfix' style='color: gray;' >
  <div class="pull-left" > </div>
  <div class='pull-right'>
    <%= link_to '#', class: 'new-tree' do %>
      <i class='glyphicon glyphicon-plus'> </i>
    <% end %>
    <%= link_edit '', '#', class: 'edit-tree' %>
    <%= link_destroy '', '#', class: 'destroy-tree', method: :delete %>
  </div>
</div>