<div class="vertical-checkbox-list" style="padding: 10px;">
  <label>Apply variable alert setting</label>
  <div style="border-bottom:none">
    <% if variable.is_alerted_by_threshold %>
      <input type='radio' name='alert-setting' checked='checked' id="variable_is_alerted_by_threshold" />
    <% else %>
      <input type='radio' name='alert-setting' id="variable_is_alerted_by_threshold" />
    <% end %>
      <span class="lbl"> If the value is greater than the threshold, <b><%= ENV['THRESHOLD_FORMULA'].html_safe %></b></span>
  </div>
  <div style="border-bottom:none">
    <% if variable.is_alerted_by_report %>
      <input type='radio' name='alert-setting' checked='checked' id="variable_is_alerted_by_report">
    <% else %>
      <input type='radio' name='alert-setting' id="variable_is_alerted_by_report">
    <% end %>
      <span class="lbl"> If the value is reported</span>
  </div>
</div>
