<div class="row">
  <div class="col-xs-12">
    <form class="form-horizontal" role="form">
      <div class="form-group col-sm-12">
        <label> Notification </label>
        <div class="radio">
          <label class="col-sm-3">
            <input name="form-field-radio" type="radio" class="ace" />
            <span class="lbl"> Do not send notifications</span>
          </label>
          <label class="col-sm-3">
            <input name="form-field-radio" type="radio" class="ace" />
            <span class="lbl"> Notifiy these people</span>
          </label>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-3">
          <label> Send text messages to </label>
          <div class="checkbox">
            <label>
              <input name="form-field-checkbox" type="checkbox" class="ace" />
              <span class="lbl"> choice 1</span>
            </label>
          </div>
        </div>
      </div>

      <div class="form-group col-sm-12">
        <label>Message</label>
        <textarea class="form-control"></textarea>
      </div>

      <div class='form-group col-sm-12 form-action-group'>
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
</div>
