<div class="alert-section" style="width: 620px;">
  <div class="panel-head clearfix" style="padding: 10px;">

    <%= form_tag update_blacklist_numbers_settings_path, class: 'form form-inline alert-form', method: :put do %>
      <div class='form-group'>
        <label class='control-label left'>Numbers</label>
        <%= text_area_tag 'blacklist_numbers', @blacklist_numbers, rows: 8, cols: 60, placeholder: 'Number separated by comma(,)', onkeypress: "return isTelephoneFormat(event)" %>
      </div>

      <div class='form-group'>
        <label class="control-label">&nbsp;</label>
        <div><i>These numbers won't be able to report to CDC staff in 115 hotline, Number separated by comma(,)</i></div>
      </div>

      <div class='form-group'>
        <label class="control-label">&nbsp;</label>
        <%= submit_tag 'Save', class: 'btn btn-primary' %>
      </div>

    <% end %>

  </div>
</div>
