<div class='verboice' style="padding: 10px;>
  <%= render 'verboice_project' %>

  <div id='setting-variables'>
   <%= render 'variables', project_variables: @parameters[:project_variables], variables: @variables %>
  </div>
</div>
