<% content_for(:title) { "SMS Recipient Modification"} %>
<%= breadcrumb [ {"SMS Recipient"=> sms_recipients_path}, {"Edit" => nil}] %>
<div class="inner-container">
  <%= page_header "Sms Recipient Modification" %>
  <%= render 'form' %>
</div>
