<% content_for(:title) { "Sms Recipient Creation"} %>
<%= breadcrumb [ {"SMS Recipient"=> sms_recipients_path}, {"New" => nil}] %>
<div class="inner-container">
  <%= page_header "Sms Recipient Creation" %>

  <%= render 'form' %>
</div>
