default: &default
  TIME_ZONE: 'Bangkok'
  APP_NAME: "CDC Zero Reporting System"
  LOCAL_TZ: "Asia/Phnom_Penh"

  VERBOICE_URL: 'http://localhost:3000'

  CODECLIMATE_REPO_TOKEN: ""
  CDC_DATABASE_PASSWORD: ""
  SECRET_KEY_BASE: ""

  NUNTIUM_HOST: 'http://nuntium.instedd.org'
  NUNTIUM_ACCOUNT: ''
  NUNTIUM_APP: ''
  NUNTIUM_APP_PWD: ''

  SIDEKIQ_USERNAME: ''
  SIDEKIQ_PASSWORD: ''
  DELAY_DELIVER_IN_MINUTES: ''

  THRESHOLD_FORMULA: "(W<sub>n-3+W<sub>n-2</sub></sub>+W<sub>n-1</sub>)/3 * 1.5"
  THRESHOLD_WEEK_RANGE: '3'

  EXTERNAL_MESSAGE_TEMPLATE: ""
  REPORTED_CASE_ALERT_TEMPLATE: ""

  # API credential
  API_DEFAULT_VERSION: 'v1'
  API_USERNAME: 'test'
  API_CREDENTIAL: 'test'

  # HUB
  HUB_ENABLED: '1' # '1' => enabled, '0' => disabled

  # LOGO
  LOGO_URL: 'path_to_image'

  # S3
  BACKUP_MODEL_NAME: ''
  BACKUP_SCRIPT_PATH: ''
  BACKUP_NOTIFY_EMAIL: ''
  CONFIG_PATH_TO_BACKUP: ''
  ASSET_PATH_TO_BACKUP: ''

  # Setting
  NUM_OF_REVISE_WEEK: ''

development:
  <<: *default

test:
  <<: *default

production:
  <<: *default
