default: &default

  APP_NAME: "CDC Call Report"
  LOCAL_TZ: "Asia/Phnom_Penh"

  REMINDERS_AGENT_DATABASE_PASSWORD: ""
  SECRET_KEY_BASE: "15ed7d3c83435080ee807c78f2f50a726ba41532186d420db4c66b23fbe3741ffc130f1a792dec0a9a6e7a5be006164bb945f66c1a8a8ce7a4404ac1f8c1b94d"

development:
  <<: *default
  SHPA_USERNAME: development
  SHPA_PASSWORD: development

test:
  <<: *default
  SHPA_USERNAME: test
  SHPA_PASSWORD: test

production:
  <<: *default