<%= breadcrumb [ {"Alert Threshold" => nil} ] %>
<div class="tabbable">
	<ul id="myTab" class="nav nav-tabs">
		<li class="active">
			<%= link_to 'Setting', alerts_path, id: 'alert_setting', html: {'data-toggle'=> 'tab'}%>
		</li>
		<li>
			<%= link_to 'Log', log_alerts_path%>
		</li>
	</ul>

	<div class="tab-content">
		<div class="tab-pane fade in active" id="alert_setting">
      <%= render "case" %>
		</div>
	</div>
</div>
