<%=simple_form_for(@phd, html: { class: 'form-inline form'}) do |f| %>
  <%=f.input :name, label: 'Name', input_html: {class: 'form-control'} %>
  <%=f.input :code, input_html: {class: 'form-control'} %>

  <div class='form-group form-action-group'>
    <label class='control-label'></label>
    <%=f.submit 'Save', class: 'btn btn-primary' %>
  </div>

<% end %>