<%= breadcrumb [ {"External SMS Setting" => nil} ] %>
<div class="inner-container">
  <div class="clearfix">
    <div class="pull-left">
      <h3 class="header-title">External SMS Setting</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="text-muted"><i>Below you can configure the external sms setting</i></div>
      <br/>

      <%= render "config" %>

    </div>
  </div>
</div>
