<%= page_title "Call list" %>
<%= render 'filter' %>
<table class="table table-strip">
  <thead>
    <tr>
      <td>Date</td>
      <td>PHD</td>
      <td>OD</td>
      <td>Number</td>
      <td>Name</td>
      <td>Report Voice</td>
      <td>Listened</td>
      <td>Action</td>
    </tr>
  </thead>

  <tbody>
    <% @reports.each do |report| %>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>

</table>