<%= breadcrumb [ {"Health Structure" => places_path()}, {"Import place" => nil}] %>
<div class='import-wrapper' >
  <%= link_to "Import Place", "" %>
  <p> This tool allows you to import a bunch of locations to your system by using a <%= link_to raw("location form"), download_location_template_places_path + ".csv", :method => :get, :class => 'bold_link', :format => :csv %> as a template. </p>
  <form id="file-form" action="#" method="POST">
    <input type="file" id="file-select" name="photos[]"/>
    <button type="submit" id="upload-button">Upload</button>
  </form>
  <div class='tmp-wrapper' id="myTmpTree">
		
	</div>
	<button class="btn success" id="btn-import"> Confirm Import</button>
</div>

